<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Home url</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/assets/index.css}">
    </head>
    <body>
        <main>
            <div class="element">
                <menu>
                    <li><a th:href="@{/sign_in}">Sign In</a></li>
                    <li><a th:href="@{/sign_up}">Sign Up</a></li>
                </menu>
            </div>

            <div class="element">
                <a th:href="@{/protected}">Protected test</a>
            </div>

            <div class="element">
                <a th:href="@{/users}">Users</a>
            </div>

            <div class="element">
                <p>Other pages:</p>
                <ol>
                    <li><a th:href="@{/errors/not_found}">404 HTTP Error - Not Found</a></li>
                    <li><a th:href="@{/errors/internal_server_error}">500 HTTP Error - Internal Server Error</a></li>
                </ol>
            </div>
        </main>
    </body>
</html>
