<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Sign In</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/assets/index.css}">
    </head>
    <body>
        <div class="middle-box">
            <p th:text="#{sign_in.sign_in}" class="text-xl">Sign In</p>
            <div class="error-box" th:if="${error}" th:text="${error}"></div>
            <form th:action="@{/app/sign_in}" method="post">
                <label th:text="#{sign_in.email}" for="email">Email</label><br>
                <input type="email" id="email" name="email" autocomplete="email" required><br>

                <label th:text="#{sign_in.password}" for="password">Password</label><br>
                <input type="password" id="password" name="password" autocomplete="current-password" required><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>