<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/assets/index.css}">
    </head>
    <body>
        <div class="mt-24 mb-2 box">
            <p class="text-xl">Modify the user</p>
            <div class="error-box" th:if="${error}" th:text="${error}"></div>
            <form th:action="@{'/users/' + ${id} + '/modify'}" method="post">
                <label for="email">Email</label><br>
                <input type="email" id="email" readonly th:attr="value=${email}"><br>

                <label for="password">Password</label><br>
                <input type="password" id="password" readonly th:attr="value=${password}"><br>

                <label for="name">Name</label><br>
                <input type="text" id="name" name="name" required th:attr="value=${name}"><br>

                <label for="age">Age</label><br>
                <input type="number" id="age" name="age" required th:attr="value=${age}"><br>

                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="box">
            <p class="text-xl">Avatar</p>
            <img width="150" height="150" th:src="@{'/users/' + ${id} + '/avatar'}" alt="No image"><br>
            <form th:action="@{'/users/' + ${id} + '/avatar'}" method="post" enctype="multipart/form-data">
                <label for="file">Choose file</label><br>
                <input type="file" id="file" name="file" accept="image/jpeg"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>