<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Users</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/assets/index.css}">
    </head>
    <body>
        <table class="users-table text-lg">
            <colgroup>
                <col style="width: 10%;" />
                <col style="width: 20%;" />
                <col style="width: 20%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
                <col style="width: 10%;" />
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Is confirmed</th>
                    <th>Avatar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${#strings.abbreviate(user.password, 18)}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.isConfirmed}"></td>
                    <td><img width="150" height="150" th:src="@{'/users/' + ${user.id} + '/avatar'}" alt="No image"></td>
                    <td><a th:href="@{'/users/' + ${user.id} + '/modify'}">Modify</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
