<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Internal Server Error - 500</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/assets/index.css}">
    </head>
    <body>
        <main class="middle-box">
            <p class="text-5xl">Internal Server Error</p>
            <p class="text-3xl"><a th:text="#{internal_server_error.return}" th:href="@{/app/}">Return to the main page</a></p>
        </main>
    </body>
</html>